{
  "extends": ["jam"],
  "rules": {
    "no-const-assign": "off",
    "import/no-mutable-exports": "off",
    "react/no-danger": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off"
  }
}
